* {
  font-family: "DejaVu Sans", Helvetica, sans-serif;
  font-weight: normal; 
}
body {
	background-color: #ffffff; 
	color: #000000; 
}
body, div, h1, ul, li {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
h1 {
  font-size: 32pt;
}

.clear {
	line-height: 0;
	font-size: 0;
	clear: both;
}
.endline {
  line-height: 5pt;
  font-size: 5pt;
	background-color: lightblue;
  border-bottom: 1px blue solid;
  margin-top: -5pt;
}

input, textarea {
	border: 1px solid;
	border-radius: 5pt;
}
input.search {
  width: 50%;
}

.header {
	margin: 10pt;
}
.header-left {
  width: 80%;
  float: left;
}
.header-right {
  width: 20%;
  float: left;
}
.picket-title {
	width: auto;
	float: left;
}
.picket-search {
	text-align: center;
}
.picket-menu {
	float: left;
}
.picket-menu li {
	display: inline;
}
.current-project {
  float: right;
}
.userbox {
	border: 1px black solid;
	border-radius: 10pt;
	padding: 5pt;
}

#picket-content .ui-slider-horizontal {
	width: 800pt;
	margin: 0 auto 60pt auto;
	border-radius: 0;
}
#picket-content .ui-slider-label {
  white-space: nowrap;
}
/***
* alternative slider look
#picket-content .ui-slider-handle {
  width: 0.3em;
  margin-left: -0.1em;
  margin-top: -0.3em;
  height: 1.8em;
}
#picket-content .ui-slider-tic {
  margin-top: -0.4em;
  height: 1.6em;
}
*/

.new_bug_form p {
  width: 600pt;
  margin: 40pt auto 0 auto;
}
.new_bug_form input, .new_bug_form textarea {
  width: 100%;
  font-size: 16pt;
}
.new_bug_form input.submit {
  width: auto;
}
