{% extends 'base.html' %}{% load i18n %}
{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block content %}

<div class="center"><span class="pagetitle">{{ site_name }}</span></div>

{% include 'picket/top_banner_inc.html' %}

<table class="hide">
<tr>
<td class="login-info-left">
    {% if user.is_authenticated %}
    {% trans 'Logged in as' %}: <span class="italic">{{ user.username }}</span> <span class="small">({%  firstof user.username user.get_fullname %} - {{ user.groups.all|join:", " }})</span> | <a href="{% url logout %}">{% trans 'Logout' %}</a> 
    {% else %}
    {% trans 'Anonymous' %} | <a href="{% url login %}?next={{ cur_url }}">{% trans 'Login' %}</a> | <a href="{% url signup %}">{% trans 'Signup for a new account' %}</a>
    {% endif %}
</td>
<td class="login-info-middle">
    <span class="italic">{% now "r" %}</span>
</td>
<td class="login-info-right">
    <form method="get" name="form_set_project" action="{% url picket-set-project %}">
        {% trans 'Project' %}:
        {% if config.USE_JAVASCRIPT %}
        <select name="project_id" class="small" onchange="document.forms.form_set_project.submit();">
        {% else %}
        <select name="project_id" class="small">
        {% endif %}
            <option value=""{% if not project %} checked="checked"{% endif %}>{% trans 'All projects' %}</option>
            {% for picket_project in picket_projects %}
            <option value="{{ picket_project.id }}"{% ifequal picket_project.id project.id  %} selected="selected"{% endifequal %}>{{ picket_project.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="button-small" value="{% trans 'Switch' %}" />

        {% if config.RSS_ENABLED %}
        <a href="{% url picket-rss %}"><img src="images/rss.gif" alt="{% trans 'RSS' %}" style="border-style: none; margin: 5px; vertical-align: middle;" /></a>
        {% endif %}
    </form>
</td>
</tr>
</table>

{% if config.SHOW_PROJECT_MENU_BAR %}
<table class="width100" cellspacing="0">
<tr>
<td class="menu">
    <a href="{% url picket-set-project %}">{% trans 'All projects' %}</a>
    {% for picket_project in picket_projects %}
    <a href="{% url picket-set-project %}?project_id={{ picket_project.id }}">{{ picket_project.name }}</a>
    {% endfor %}
</td>
</tr>
</table>
{% endif %}

{% if user.is_authenticated %}
<table class="width100" cellspacing="0">
<tr>
<td class="menu">
<a href="{% url picket-index %}">{% trans 'Main' %}</a>
| <a href="{% url picket-my-view %}">{% trans 'My view' %}</a>
| <a href="{% url picket-bugs %}">{% trans 'View bugs' %}</a>
| <a href="{% url picket-filebug %}">{% trans 'File bug' %}</a>
| <a href="{% url picket-changelog %}">{% trans 'Change log' %}</a>
| <a href="{% url picket-roadmap %}">{% trans 'Road map' %}</a>
| <a href="{% url profile user.username %}">{% trans 'Profile' %}</a> <small>(<a href="{% url profile-update user.username %}">{% trans 'edit' %}</a>)</small>
</td>
<td class="menu right nowrap">
    <form method="get" action="{% url picket-jump-to-bug %}">
    {% if config.USE_JAVASCRIPT %}
        <input type="text" name="bug_id" size="10" class="small" value="{% trans 'Issue id' %}" onfocus="if (this.value == '{% trans 'Issue id' %}') this.value = ''" onblur="if (this.value == '') this.value = '{% trans 'Issue id' %}'" />&nbsp;
    {% else %}
        <input type="text" name="bug_id" size="10" class="small" />&nbsp;
    {% endif %}

        <input type="submit" class="button-small" value="{% trans 'Jump' %}" />&nbsp;
    </form>
</td>
</tr>
</table>
{% endif %}

<hr />

<div id="picketcontent">
{% block picketcontent %}
{% endblock picketcontent %}
</div>

{% endblock content %}
