{% extends 'picket/admin/base.html' %}{% load i18n %}
{% comment %}
Copyright 2010-2011 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block picket-admin %}

<form method="post" action="">
<p>{% trans 'Department name' %}: {{ form.name }}</p>
<p>{% trans 'Department head' %}: {{ form.head }}</p>
<p><input type="submit" /></p>
</form>

<div class="endline">&nbsp;</div>

{% if assigned_stages|length %}
<p>{% trans 'Responsible for stages:' %}</p>
<ul>
{% for stage in assigned_stages %}
<li>{{ stage }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock picket-admin %}
