{% extends 'picket/admin/base.html' %}{% load i18n %}
{% comment %}
Copyright 2010 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block picket-admin %}

<p><a href="{% url picket-admin-employee-new %}">{% trans 'New Employee' %}</a></p>

{% if employees|length %}

{% regroup employees by department as employee_list %}

<ul>
{% for department in employee_list %}
    <li>{% if department.grouper %}{{ department.grouper }}{% else %}{% trans 'Unemployed' %}{% endif %}
        <ul>
        {% for employee in department.list %}
            <li>
                <a href="{% url picket-admin-employee employee.pk %}">{{ employee }}</a>
                <form class="inline_form" method="post" action="{% url picket-admin-employee-department employee.pk %}">
                    <select name="department" onchange="this.form.submit();">
                        <option value="">{% trans 'Unemployed' %}</option>
                        {% for department in departments %}
                        <option value="{{ department.pk }}"{% if employee.department == department %} selected="selected"{% endif %}>{{ department }}</option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{% endif %}

{% endblock picket-admin %}
