{% load i18n %}
{% comment %}
Copyright 2009 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<table class="width100" cellspacing="1">
<tr>
    <td class="form-title">
        {% trans 'Groups' %} <small>(<a href="{% url picket-admin-groups-add %}">{% trans 'add' %}</a>)</small>
    </td>
</tr>
<tr class="row-category">
    <td>{% trans 'Group' %}</td>
</tr>
{% for group in groups %}
<tr class="{% cycle 'row-1' 'row-2' %}">
    <td><a href="{% url picket-admin-group groupId=group.id %}">{{ group.name }}</a></td>
</tr>
{% endfor %}
</table>
