{% load i18n %}
{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<tr>
    <td class="form-title" colspan="2">
        {% trans 'Project' %}
        {% if project_form.errors %}
        <br /><span class="required">{% trans 'Please fix errors in the form' %}</span>
        {% endif %}
    </td>
</tr>
<tr class="row-1">
    <td class="category" width="25%">
        <span class="required">*</span>{% trans 'Project name' %}
        <br /><span class="required">{{ project_form.name.errors.as_text }}</span>
    </td>
    <td width="75%">
        {{ project_form.name }}
    </td>
</tr>
<tr class="row-2">
    <td class="category">
        {% trans 'Status' %}
        <br /><span class="required">{{ project_form.status.errors.as_text }}</span>
    </td>
    <td>
        {{ project_form.status }}
    </td>
</tr>
<tr class="row-1">
    <td class="category">
        <span class="required">*</span>{% trans 'Scope' %}
        <br /><span class="required">{{ project_form.scope.errors.as_text }}</span>
    </td>
    <td>
        {{ project_form.scope }}
    </td>
</tr>
<tr class="row-1">
    <td class="category">
        {% trans 'Description' %}
        <br /><span class="required">{{ project_form.description.errors.as_text }}</span>
    </td>
    <td>
        {{ project_form.description }}
    </td>
</tr>
