{% extends 'picket/admin/base.html' %}{% load i18n %}
{% comment %}
Copyright 2010 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block picket-admin %}

<p><a href="{% url picket-admin-project-edit project.id %}">{% trans 'Edit Project' %}</a> <a href="{% url picket-admin-project-delete project.id %}" onclick="return confirm('{% blocktrans with project.name as project_name %}Are you sure you want to delete Project &quot;{{ project_name }}&quot;?{% endblocktrans %}');">{% trans 'Delete Project' %}</a></p>

<p>{{ project.name }}</p>
<p>{{ project.status }}</p>
<p>{{ project.scope }}</p>
<p>{{ project.url }}</p>
<p>{{ project.description }}</p>
<p>{{ project.parent }}</p>
<p>{{ project.categories }}</p>
<p>{{ project.attachments }}</p>


{% endblock picket-admin %}
