{% extends 'picket/admin/base.html' %}{% load i18n %}
{% comment %}
Copyright 2009 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block picketadmincontent %}

<br />
<div align="center">
<form method="post" action="">
<table class="width75" cellspacing="1">
<tr>
    <td class="form-title" colspan="2">
        {% trans 'Edit user' %}
        {% if user_form.errors %}
        <br /><span class="required">{% trans 'Please fix errors in the form' %}</span>
        {% endif %}
    </td>
</tr>
<tr class="row-1">
    <td class="category" width="25%">
        <span class="required">*</span>{% trans 'Username' %}
        <br /><span class="required">{{ user_form.username.errors.as_text }}</span>
    </td>
    <td width="75%">
        {{ user_form.username }}
    </td>
</tr>
<tr class="row-1">
    <td class="category" width="25%">
        {% trans 'First name' %}
        <br /><span class="required">{{ user_form.first_name.errors.as_text }}</span>
    </td>
    <td width="75%">
        {{ user_form.first_name }}
    </td>
</tr>
<tr class="row-1">
    <td class="category" width="25%">
        {% trans 'Last name' %}
        <br /><span class="required">{{ user_form.last_name.errors.as_text }}</span>
    </td>
    <td width="75%">
        {{ user_form.last_name }}
    </td>
</tr>
<tr class="row-1">
    <td class="category" width="25%">
        {% trans 'E-mail address' %}
        <br /><span class="required">{{ user_form.email.errors.as_text }}</span>
    </td>
    <td width="75%">
        {{ user_form.email }}
    </td>
</tr>
<tr class="row-1">
    <td class="category" width="25%">
        {% trans 'Groups' %}
        <br /><span class="required">{{ user_form.groups.errors.as_text }}</span>
    </td>
    <td width="75%">
        {{ user_form.groups }}
    </td>
</tr>
<tr class="row-1">
    <td class="category" width="25%">
        {% trans 'Password' %}
    </td>
    <td width="75%">
        <a href="{% url picket-admin-user-password userId=user.id %}">{% trans 'Change password' %}</a>
    </td>
</tr>
<tr>
    <td class="center" colspan="2">
        <input type="submit" class="button" value="{% trans 'Update user' %}" />
    </td>
</tr>
</table>
</form>
</div>

{% endblock picketadmincontent %}
