{% load i18n %}
{% comment %}
Copyright 2010 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block content %}

{% include 'picket/header.html' %}

{% if projects %}
{% block picket %}
{% endblock picket %}
{% else %}
<p class="error">{% trans 'There is no project exists!' %}</p>
<p><a href="{% url picket-admin-project-new %}">{% trans 'Configure at least one project.' %}</a></p>
{% endif %}

{% include 'picket/footer.html' %}

{% endblock content %}
