{% extends 'base.html' %}{% load i18n %}
{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block content %}

<div class="center"><span class="pagetitle">{{ site_name }}</span></div>

{% include 'picket/top_banner_inc.html' %}

<table class="hide">
<tr>
<td class="login-info-left">
    {% if user.is_authenticated %}
    {% trans 'Logged in as' %}: <span class="italic">{{ user.username }}</span> <span class="small">({%  firstof user.username user.get_fullname %} - {{ user.groups.all|join:", " }})</span> | <a href="{% url logout %}">{% trans 'Logout' %}</a>
    {% else %}
    {% trans 'Anonymous' %} | <a href="{% url login %}?next={{ cur_url }}">{% trans 'Login' %}</a> | <a href="{% url signup %}">{% trans 'Signup for a new account' %}</a>
    {% endif %}
</td>
<td class="login-info-middle">
    <span class="italic">{% now "r" %}</span>
</td>
<td class="login-info-right">
    <form method="get" name="form_set_project" action="{% url picket-set-project %}">
        {% trans 'Project' %}:
        {% if config.USE_JAVASCRIPT %}
        <select name="project_id" class="small" onchange="document.forms.form_set_project.submit();">
        {% else %}
        <select name="project_id" class="small">
        {% endif %}
            <option value=""{% if not project %} selected="selected"{% endif %}>{% trans 'All projects' %}</option>
            {% for picket_project in picket_projects %}
            <option value="{{ picket_project.id }}"{% ifequal picket_project.id project.id  %} selected="selected"{% endifequal %}>{{ picket_project.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="button-small" value="{% trans 'Switch' %}" />

        {% if config.RSS_ENABLED %}
        <a href="{% url picket-rss %}"><img src="images/rss.gif" alt="{% trans 'RSS' %}" style="border-style: none; margin: 5px; vertical-align: middle;" /></a>
        {% endif %}
    </form>
</td>
</tr>
</table>

{% if config.SHOW_PROJECT_MENU_BAR %}
<table class="width100" cellspacing="0">
<tr>
<td class="menu">
    <a href="{% url picket-set-project %}">{% trans 'All projects' %}</a>
    {% for picket_project in picket_projects %}
    <a href="{% url picket-set-project %}?project_id={{ picket_project.id }}">{{ picket_project.name }}</a>
    {% endfor %}
</td>
</tr>
</table>
{% endif %}

{% include 'picket/menu_inc.html' %}

<div id="picketcontent">
{% block picketcontent %}
{% endblock picketcontent %}
</div>

{% if config.SHOW_FOOTER_MENU %}
{% include 'picket/menu_inc.html' %}
{% endif %}

{% include 'picket/bottom_banner_inc.html' %}

<br />
<hr size="1" />

<table border="0" width="100%" cellspacing="0" cellpadding="0"><tr valign="top"><td>
{% if config.SHOW_VERSION %}
<a href="" title=""></a></div>
<span class="timer"><a href="{{ COPYING.URL }}" title="Picket Bugtracker via Django">Picket {{ COPYING.PICKET_VERSION }}</a></span>
{% endif %}
<address>Copyright &copy; {{ COPYING.YEARS|join:", " }} {{ COPYING.AUTHORS|join:", " }}</address>

</td><td><div align="right">
<a href="{{ COPYING.URL }}" title="Picket Bugtracker via Django"><img src="/media/images/picket_logo_button.png" width="88" height="35" alt="Powered by Picket Bugtracker" border="0" /></a>
</div></td></tr></table>

{% endblock content %}
