{% extends 'picket/base.html' %}{% load i18n %}
{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block picketcontent %}

<br />
<div align="center">
<form name="report_bug_form" method="post" enctype="multipart/form-data" action="">
<table class="width75" cellspacing="1">

<!-- Title -->
<tr>
    <td class="form-title" colspan="2">
        {% trans 'Please file your bug in the form below' %}
        {% if bug_form.errors %}
        <br /><span class="required">{% trans 'Please fix errors in the form' %}</span>
        {% endif %}
    </td>
</tr>

<!-- Category -->
<tr class="{% cycle 'row-1' 'row-2' as row-class %}">
    <td class="category" width="30%">
        <span class="required">*</span>{% trans 'Category' %}
        <br /><span class="required">{{ bug_form.category.errors.as_text }}</span>
    </td>
    <td width="70%">
        [{{ cur_project.name }}]
        {{ bug_form.category }}
    </td>
</tr>

<!-- Reproducibility -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Reproducibility' %}
        <br /><span class="required">{{ bug_form.reproducibility.errors.as_text }}</span>
    </td>
    <td>
        {{ bug_form.reproducibility }}
    </td>
</tr>

<!-- Severity -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Severity' %}
        <br /><span class="required">{{ bug_form.severity.errors.as_text }}</span>
    </td>
    <td>
        {{ bug_form.severity }}
    </td>
</tr>

<!-- Priority @note: permissions droped -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Priority' %}
        <br /><span class="required">{{ bug_form.priority.errors.as_text }}</span>
    </td>
    <td>
        {{ bug_form.priority }}
    </td>
</tr>

<!-- spacer -->
<tr class="spacer">
    <td colspan="2"></td>
</tr>

<!-- Summary -->
<tr class="{% cycle row-class %}">
    <td class="category">
        <span class="required">*</span>{% trans 'Summary' %}
        <br /><span class="required">{{ bug_form.summary.errors.as_text }}</span>
    </td>
    <td>
        <input type="text" name="summary" size="105" maxlength="255" value="{% firstof bug_form.summary.data '' %}" />
    </td>
</tr>

<!-- Description -->
<tr class="{% cycle row-class %}">
    <td class="category">
        <span class="required">*</span>{% trans 'Description' %}
        <br /><span class="required">{{ bug_form.description.errors.as_text }}</span>
    </td>
    <td>
        <textarea name="description" cols="80" rows="10">{% firstof bug_form.description.data %}</textarea>
    </td>
</tr>

<!-- Steps to reproduce -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Steps to reproduce' %}
        <br /><span class="required">{{ bug_form.steps_to_reproduce.errors.as_text }}</span>
    </td>
    <td>
        <textarea name="steps_to_reproduce" cols="80" rows="10">{% firstof bug_form.steps_to_reproduce.data '' %}</textarea>
    </td>
</tr>

<!-- Additional information -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Additional information' %}
        <br /><span class="required">{{ bug_form.additional_info.errors.as_text }}</span>
    </td>
    <td>
        <textarea name="additional_info" cols="80" rows="10">{% firstof bug_form.additional_info.data '' %}</textarea>
    </td>
</tr>

<!-- spacer -->
<tr class="spacer">
    <td colspan="2"></td>
</tr>

<!-- File Upload -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Upload file' %}
    </td>
    <td>
        <input name="bugfile-file" type="file" size="60" />
    </td>
</tr>
<tr class="{% cycle row-class %}">
    <td class="category">
        <span class="required">*</span>{% trans 'File title' %}<br />
        <span class="required">({% trans 'if file present' %})</span>
    </td>
    <td>
        <input name="bugfile-title" type="text" size="105" maxlength="255" />
    </td>
</tr>

<!-- spacer -->
<tr class="spacer">
    <td colspan="2"></td>
</tr>

<!-- Scope -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Scope' %}
    </td>
    <td>
        {{ bug_form.scope }}
    </td>
</tr>

<!-- Submit Button -->
<tr>
    <td colspan="2" class="center">
        <input type="submit" class="button" value="{% trans 'File bug' %}" />
    </td>
</tr>


</table>
</form>
</div>

{% endblock picketcontent %}
