{% load i18n %}{% load markup %}
{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<!-- Labels -->
<tr class="row-category">
    <td width="15%">
        {% trans 'ID' %}
    </td>
    <td width="20%">
        {% trans 'Category' %}
    </td>
    <td width="15%">
        {% trans 'Severity' %}
    </td>
    <td width="20%">
        {% trans 'Reproducibility' %}
    </td>
    <td width="15%">
        {% trans 'Date submitted' %}
    </td>
    <td width="15%">
        {% trans 'Last update' %}
    </td>
</tr>


<tr class="{% cycle 'row-1' 'row-2' as row-class %}">

    <!-- Bug ID -->
    <td>
        <a href="{{ bug.get_absolute_url }}">#</a>{{ bug.get_id_display }}
    </td>

    <!-- Category -->
    <td>
        [{% with bug.project as project %}{% include 'picket/project_link_inc.html' %}{% endwith %}] {% with bug.category as category %}{% include 'picket/category_link_inc.html' %}{% endwith %}
    </td>

    <!-- Severity -->
    <td>
        {{ bug.get_severity_display }}
    </td>

    <!-- Reproducibility -->
    <td>
        {{ bug.get_reproducibility_display }}
    </td>

    <!-- Date Submitted -->
    <td>
        {{ bug.date_submitted|date }}
    </td>

    <!-- Date Updated -->
    <td>
        {{ bug.last_updated|date }}
    </td>

</tr>


<!-- spacer -->
<tr class="spacer">
    <td colspan="6"></td>
</tr>


<tr class="{% cycle row-class %}">

    <!-- Reporter -->
    <td class="category">
        {% trans 'Reporter' %}
    </td>
    <td>
        {% with bug.reporter as user %}{% include 'picket/user_link_inc.html' %}{% endwith %}
    </td>

    <!-- View Status -->
    <td class="category">
        {% trans 'Scope' %}
    </td>
    <td>
        {{ bug.scope.name }}
    </td>

    <!-- spacer -->
    <td colspan="2">&nbsp;</td>

</tr>


<!-- Handler -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Assigned to' %}
    </td>
    <td colspan="5">
    {% if bug.handler %}
        {% with bug.handler as user %}{% include 'picket/user_link_inc.html' %}{% endwith %}
    {% else %}
        {% trans 'Nobody' %}
    {% endif %}
    </td>
</tr>

<tr class="{% cycle row-class %}">

    <!-- Priority -->
    <td class="category">
        {% trans 'Priority' %}
    </td>
    <td>
        {{ bug.get_priority_display }}
    </td>

    <!-- Resolution -->
    <td class="category">
        {% trans 'Resolution' %}
    </td>
    <td colspan="3">
        {{ bug.get_resolution_display }}
    </td>

</tr>

<tr class="{% cycle row-class %}">

    <!-- Status -->
    <td class="category">
        {% trans 'Status' %}
    </td>
    <td bgcolor="{{ bug.get_status_color }}">
        {{ bug.get_status_display }}
    </td>
    
    <!-- Duplicate -->
    {% if bug.duplicate %}
    <td class="category">
        {% trans 'Duplicate id' %}
    <td colspan="3">
        {{ bug.duplicate }}
    </td>
    {% else %}
    <td colspan="4">&nbsp;</td>
    {% endif %}

</tr>

<tr class="{% cycle row-class %}">

    <!-- Projection -->
    <td class="category">
        {% trans 'Projection' %}
    </td>
    <td>
        {{ bug.get_projection_display }}
    </td>

    <!-- spacer -->
    <td colspan="4">&nbsp;</td>

</tr>


<tr class="{% cycle row-class %}">

    <!-- ETA -->
    <td class="category">
        {% trans 'ETA' %}
    </td>
    <td>
        {{ bug.get_eta_display }}
    </td>
    
    <!-- spacer -->
    <td colspan="4">&nbsp;</td>

</tr>

<!-- spacer -->
<tr class="spacer">
    <td colspan="6"></td>
</tr>

<!-- Summary -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Summary' %}
    </td>
    <td colspan="5">
        {{ bug.summary }}
    </td>
</tr>

<!-- Description -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Description' %}
    </td>
    <td colspan="5">
        {{ bug.get_description_display }}
    </td>
</tr>

<!-- Steps to Reproduce -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Steps to reproduce' %}
    </td>
    <td colspan="5">
        {{ bug.get_steps_to_reproduce_display }}
    </td>
</tr>

<!-- Additional Information -->
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Additional information' %}
    </td>
    <td colspan="5">
        {{ bug.get_additional_information_display }}
    </td>
</tr>
