{% extends 'picket/base.html' %}{% load i18n %}
{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block picketcontent %}

<br />
<form method="post" action="{% url picket-bug-update bug_id=bug.id %}">

<table class="width100" cellspacing="1">


<!-- Title -->
<tr>
    <td class="form-title" colspan="3">
        {% trans 'Updating bug' %}
    </td>
    <td class="right" colspan="3">[ <a href="{{ bug.get_absolute_url }}">{% trans 'Back to bug' %}</a> ]</td>
</tr>

<tr class="row-category">
    <td width="15%">
        {% trans 'ID' %}
    </td>
    <td width="20%">
        {% trans 'Category' %}
    </td>
    <td width="15%">
        {% trans 'Severity' %}
    </td>
    <td width="20%">
        {% trans 'Reproducibility' %}
    </td>
    <td width="15%">
        {% trans 'Date submitted' %}
    </td>
    <td width="15%">
        {% trans 'Last update' %}
    </td>
</tr>


<tr class="{% cycle 'row-1' 'row-2' as row-class %}">
    <!-- Bug ID -->
    <td>
        {{ bug.get_id_display }}
    </td>
    <!-- Category -->
    <td>
        {% ifnotequal bug.project cur_project %}
        [{{ bug.project.name }}]
        {% endifnotequal %}
        {{ bug_update_form.category }}
    </td>
    <!-- Severity -->
    <td>{{ bug_update_form.severity }}</td>
    <!-- Reproducibility -->
    <td>{{ bug_update_form.reproducibility }}</td>
    <!-- Date Submitted -->
    <td>{{ bug.date_submitted|date }} {{ bug.date_submitted|time }}</td>
    <!-- Date Updated -->
    <td>{{ bug.last_updated|date }} {{ bug.last_updated|time }}</td>
</tr>

<!-- spacer -->
<tr class="spacer">
    <td colspan="6"></td>
</tr>

<tr class="{% cycle row-class %}">
    <!-- Reporter -->
    <td class="category">{% trans 'Reporter' %}</td>
    <td>{{ bug_update_form.reporter }}</td>
    <!-- Scope -->
    <td class="category">{% trans 'Scope' %}</td>
    <td>{{ bug_update_form.scope }}</td>
    <!-- spacer -->
    <td colspan="2">&nbsp;</td>
</tr>

<tr class="{% cycle row-class %}">
    <!-- Assigned To -->
    <td class="category">{% trans 'Assigned to' %}</td>
    <td colspan="5">{{ bug_update_form.handler }}</td>
</tr>

<tr class="{% cycle row-class %}">
    <!-- Priority -->
    <td class="category">{% trans 'Priority' %}</td>
    <td>{{ bug_update_form.priority }}</td>
    <!-- Resolution -->
    <td class="category">{% trans 'Resolution' %}</td>
    <td>{{ bug_update_form.resolution }}</td>
    <!-- spacer -->
    <td colspan="2">&nbsp;</td>
</tr>

<tr class="{% cycle row-class %}">
    <!-- Status -->
    <td class="category">{% trans 'Status' %}</td>
    <td bgcolor="{{ bug.get_status_color }}">{{ bug_update_form.status }}</td>
    <!-- Duplicate ID --> 
    <td class="category">{% trans 'Duplicate ID' %}</td>
    <td>{{ bug_update_form.duplicate }}</td>
</tr>

<!-- spacer -->
<tr class="spacer">
    <td colspan="6"></td>
</tr>

<!-- Summary -->
<tr class="{% cycle row-class %}">
    <td class="category">{% trans 'Summary' %}</td>
    <td colspan="5"><input type="text" name="summary" size="105" maxlength="128" value="{{ bug.summary }}" /></td>
</tr>

<!-- Description -->
<tr class="{% cycle row-class %}">
    <td class="category">{% trans 'Description' %}</td>
    <td colspan="5"><textarea cols="80" rows="10" name="description">{{ bug.description }}</textarea></td>
</tr>

<!-- Steps to reproduce -->
<tr class="{% cycle row-class %}">
    <td class="category">{% trans 'Steps to reproduce' %}</td>
    <td colspan="5"><textarea cols="80" rows="10" name="steps_to_reproduce">{{ bug.steps_to_reproduce }}</textarea></td>
</tr>

<!-- Additional Information -->
<tr class="{% cycle row-class %}">
    <td class="category">{% trans 'Additional Information' %}</td>
    <td colspan="5"><textarea cols="80" rows="10" name="additional_information">{{ bug.additional_information }}</textarea></td>
</tr>

<tr class="spacer">
    <td colspan="6">&nbsp;</td>
</tr>

<!-- Bugnote Text Box -->
<tr class="{% cycle row-class %}">
    <td class="category">{% trans 'Add bugnote title' %}</td>
    <td colspan="5"><textarea name="note-text" cols="80" rows="10"></textarea>
</tr>

<!-- Bugnote Scope -->
<tr class="{% cycle row-class %}">
    <td class="category">{% trans 'Scope' %}</td>
    <td colspan="5">{{ bugnote_form.scope }}</td>
</tr>

<!-- Submit Button -->
<tr>
    <td class="center" colspan="6"><input type="submit" class="button" value="{% trans 'Update information' %}" /></td>
</tr>

</table>
</form>

<br />

{% include 'picket/bugnotes_inc.html' %}

{% endblock picketcontent %}
