{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% ifequal column_sort 'ASC' %}
<span class="sort_arrow">&#8595;</span>
{% else %}{% ifequal column_sort 'DESC' %}
<span class="sort_arrow">&#8593;</span>
{% endifequal %}{% endifequal %}
<a href="{% url picket-bugs-ordered sort_field=column_name sort_dir=column_link_sort %}">{{ column_title }}</a>