{% extends 'picket/base.html' %}{% load i18n %}
{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block picketcontent %}

<div id="picketfilter">
{% block picketfilter %}

{% endblock picketfilter %}
</div>

<table id="buglist" class="width100" cellspacing="1">

<tr class="row-category">
{% for column_name, column_title in config.COLUMNS_BUGS_VIEW %}
<td><a href="{% url picket-bugs-ordered sort_field=column_name sort_dir="ASC" %}">{{ column_title }}</a></td>
{% endfor %}
</tr>

<tr class="spacer">
    <td colspan="{{ config.COLUMNS_BUGS_VIEW|length }}"></td>
</tr>

{% for bug in sticky_bugs %}
<tr bgcolor="{{ bug.get_status_color }}" border="1">
{% include 'picket/bug_inlist_inc.html' %}
</tr>
{% endfor %}

<tr class="spacer">
    <td colspan="{{ config.COLUMNS_BUGS_VIEW|length }}"></td>
</tr>

{% for bug in bugs %}
<tr bgcolor="{{ bug.get_status_color }}" border="1">
{% include 'picket/bug_inlist_inc.html' %}
</tr>
{% endfor %}

</table>

{% if config.SHOW_LEGEND %}
<br/>

<table class="width100" cellspacing="1">
    <tbody>
      <tr>
        {% for key, value in legend %}
        <td class="small-caption" bgcolor="{{ value }}" width="14%">
            {{ key }}
        </td>
        {% endfor %}
      </tr>
    </tbody>
</table>
{% endif %}

{% endblock picketcontent %}
