{% load i18n %}
{% comment %}
Copyright 2010 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<div class="header">
  <div class="header-left">
    <div>
      <h1 class="picket-title">Picket Bugtracker</h1>
      <div class="picket-search">
        <form class="search-form">
	        <input class="search" type="text" name="search" value="{% trans 'Search bugs' %}" onfocus="this.value='';" /><br />
	        <label><input type="radio" name="search_area" value="current" />{% trans 'Current project' %}</label>
	        <label><input type="radio" name="search_area" value="all" />{% trans 'All projects' %}</label>
	        <input type="submit" />
        </form>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
    <div>
      <div class="picket-menu">{% include 'picket/menu_inc.html' %}</div>
      <div class="current-project">
        <form method="get" action="">
	        <select name="set_project" onchange="this.form.submit()">
	        {% for project in projects %}
	          <option value="{{ project.id }}"{% if project == current_project %} selected="selected"{% endif %}>{{ project.name }}</option>
	        {% endfor %}
	        </select>
        </form>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div class="header-right">
    <div class="userbox">{% include 'picket/userbox_inc.html' %}</div>
  </div>
  <div class="clear">&nbsp;</div>
</div>
<div class="endline">&nbsp;</div>
