{% extends 'picket/base.html' %}{% load i18n %}
{% comment %}
Copyright 2010 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block picket %}

<p>&nbsp;</p>

<script type="text/javascript">
$(function() {
    $('#severity').selectToUISlider({
        labels: 5,
        tooltip: false,
        //labelSrc: 'text',
        sliderOptions: {
            animate: true,
        }
    }).hide();
});
</script>

<select name="severity" id="severity">
	<option value="Good advice">Good advice</option>
	<option value="Annoying thing">Annoying thing</option>
	<option value="Just a bug" selected="selected">Just a bug</option>
	<option value="Big crash">Big crash</option>
	<option value="Armageddon">Armageddon</option>
</select>

<p>&nbsp;</p>

{% endblock picket %}
