{% extends 'picket/base.html' %}{% load i18n %}
{% comment %}
Copyright 2008 Serge Matveenko

This file is part of Picket.

Picket is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Picket is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Picket.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block picketcontent %}

<br />
<div class="center">
<table class="width75" cellspacing="1">
<form method="post" action="{% url picket-bug-reminder bug_id=bug.id %}">
<tr>
	<td class="form-title" colspan="2">
		{% trans 'Bug reminder' %}
		{% if bug_form.errors %}
        <br /><span class="required">{% trans 'Please fix errors in the form' %}</span>
        {% endif %}
	</td>
</tr>
<tr>
	<td class="category">
		{% trans 'To' %}
		<br /><span class="required">{{ reminder_form.recipients.errors.as_text }}</span>
	</td>
	<td class="category">
		{% trans 'Reminder' %}
		<br /><span class="required">{{ reminder_form.text.errors.as_text }}</span>
	</td>
</tr>
<tr class="{% cycle 'row-1' 'row-2' as row-class %}">
    <td>{{ reminder_form.recipients }}</td>
    <td class="center">{{ reminder_form.text }}</td>
</tr>
<tr class="{% cycle row-class %}">
    <td class="category">
        {% trans 'Reminder note scope' %}
        <br /><span class="required">{{ reminder_form.scope.errors.as_text }}</span>
    </td>
    <td class="center">{{ reminder_form.scope }}</td>
</tr>
<tr>
	<td class="center" colspan="2">
		<input type="submit" class="button" value="{% trans 'Send reminder' %}">
	</td>
</tr>
</form>
</table>
</div>

<table class="width100" cellspacing="1">
{% include 'picket/bug_inc.html' %}
</table>

{% endblock picketcontent %}
